* {

    font-family: 'Roboto', sans-serif;
}

body{
    background-color: black;
    margin: 0px;
    padding: 0px;
    color: white;
}

.container{
    display: flex;       /* put left + right side by side */
    width: 100%;
}

.top-nav{
    margin-top: 0px;
    padding-top: 0px;
    width: 100vw;
    height: 8vh;
}



.left{
    width: 25vw;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #121212; 
   
}

.left-container{
    
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    
    

}

.inner-card{
    border-radius: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: #1f1f1f;
    margin: 10px;
    
    
}

.left-btn{
    padding: 8px;
    border-radius: 20px;
    outline: none;
    border: none;
    margin-bottom: 10px;
}

.lang-btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background: transparent;
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding: 8px 16px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 9999px; /* fully rounded pill */
    cursor: pointer;
    transition: background 0.2s, border-color 0.2s;
    
  }

  .lang-btn:hover {
    background: rgba(255, 255, 255, 0.1);
    border-color: white;
  }

  .lang-btn img {
    width: 20px;
    height: 20px;
  }



.pages-list {
    
    list-style: none; /* remove bullets */
    display: flex;    /* make horizontal */
    gap: 15px;        /* spacing between items */
    padding: 0;       /* remove default padding */
    margin: 0;        /* remove default margin */
    flex-wrap: wrap;
    font-size: 11px;
    margin-top: 25vh;
    margin-left: 10px;
    margin-bottom: 10px;
}
.pages-list li a {
    text-decoration: none; /* remove underline */
    color: white;
}

.language-btn{
    margin: 10px;
}

.right{
    display: flex;
    width: 75vw;
}
















.footer{
    height: 8vh;
}