.border-red{
    border: 2px solid red;
    margin: 3px;
}

.border-green{
    border: 2px solid green;
    margin: 3px;
}

.border-yellow{
    border: 2px solid yellow;
    margin: 3px;
}

.border-black{
    border: 2px solid purple;
    margin: 3px;
}



.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}

